.qmake.cache
QGCodeEditor/.moc
QGCodeEditor/.obj
QGCodeEditor/Makefile
QGCodeEditor/libQGCodeEditor.prl
QGCodeEditor/libQGCodeEditor.so*

debian/debhelper-build-stamp
debian/files
debian/libqgcodeeditor-dev-qt4.debhelper.log
debian/libqgcodeeditor-dev-qt4.substvars
debian/libqgcodeeditor-dev-qt4/
debian/libqgcodeeditor-dev.debhelper.log
debian/libqgcodeeditor-dev.substvars
debian/libqgcodeeditor-dev/
debian/libqgcodeeditor-doc.debhelper.log
debian/libqgcodeeditor-doc.substvars
debian/libqgcodeeditor-doc/
debian/libqgcodeeditor-qt4.debhelper.log
debian/libqgcodeeditor-qt4.substvars
debian/libqgcodeeditor-qt4/
debian/libqgcodeeditor.debhelper.log
debian/libqgcodeeditor.substvars
debian/libqgcodeeditor/
debian/tmp/
