Source: libqgcodeeditor
Priority: optional
Maintainer: Jakob Flierl <jakob.flierl@gmail.com>
Build-Depends: debhelper-compat (= 13),
               qtbase5-dev,
               qtbase5-dev-tools,
               libqt5designer5,
               qttools5-dev,
               qt6-base-dev,
               qt6-base-dev-tools,
               libqt6designer6,
               qt6-tools-dev,
Build-Depends-Indep: doxygen
Standards-Version: 4.6.2
Section: libs
Homepage: https://github.com/QGCoder
Vcs-Git: https://github.com/QGCoder/libqgcodeeditor
Vcs-Browser: https://github.com/QGCoder/libqgcodeeditor

Package: libqgcodeeditor-qt5
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Suggests: libqgcodeeditor-doc
Multi-Arch: same
Description: G-Code text editor library based on Qt5 - runtime
 libqgcodeeditor (also known as QGGCodeEditor) is a free C++ library based on Qt
 that enables the quick creation of G-Code editing apps. It features
 G-Code syntax highlighting. QGGCodeEditor is fully customizable and easy to
 extend to create complex applications, with a possible G-Code editing GUI.
 .
 This package contains the shared library needed to run programs using
 QGCodeEditor. This package contains QGCodeEditor linked with Qt version 5.

Package: libqgcodeeditor-qt5-dev
Section: libdevel
Architecture: any
Depends: libqgcodeeditor-qt5 (= ${binary:Version}),
         qtbase5-dev,
         ${misc:Depends}
Description: Qt5 G-Code editor library - development files
 libqgcodeeditor (also known as QGGCodeEditor) is a free C++ library based on Qt
 that enables the quick creation of G-Code editing apps. It features
 G-Code syntax highlighting. QGGCodeEditor is fully customizable and easy to
 extend to create complex applications, with a possible G-Code editing GUI.
 .
 This package contains the files needed to develop and compile programs
 using QGCodeEditor linked with Qt version 5.

Package: libqgcodeeditor-qt6
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Suggests: libqgcodeeditor-doc
Multi-Arch: same
Description: G-Code text editor library based on Qt6 - runtime
 libqgcodeeditor (also known as QGGCodeEditor) is a free C++ library based on Qt
 that enables the quick creation of G-Code editing apps. It features
 G-Code syntax highlighting. QGGCodeEditor is fully customizable and easy to
 extend to create complex applications, with a possible G-Code editing GUI.
 .
 This package contains the shared library needed to run programs using
 QGCodeEditor. This package contains QGCodeEditor linked with Qt version 6.

Package: libqgcodeeditor-qt6-dev
Section: libdevel
Architecture: any
Depends: libqgcodeeditor-qt6 (= ${binary:Version}),
         qt6-base-dev,
         ${misc:Depends}
Description: Qt6 G-Code editor library - development files
 libqgcodeeditor (also known as QGGCodeEditor) is a free C++ library based on Qt
 that enables the quick creation of G-Code editing apps. It features
 G-Code syntax highlighting. QGGCodeEditor is fully customizable and easy to
 extend to create complex applications, with a possible G-Code editing GUI.
 .
 This package contains the files needed to develop and compile programs
 using QGCodeEditor linked with Qt version 6.

Package: libqgcodeeditor-qt5-examples
Section: examples
Architecture: all
Depends: libqgcodeeditor-qt5,
         ${misc:Depends}
Description: Qt5 G-Code editor library - example applications
 libqgcodeeditor (also known as QGGCodeEditor) is a free C++ library based on Qt
 that enables the quick creation of G-Code editing apps. It features
 G-Code syntax highlighting. QGGCodeEditor is fully customizable and easy to
 extend to create complex applications, with a possible G-Code editing GUI.
 .
 This package contains example applications compiled against Qt5.

Package: libqgcodeeditor-qt6-examples
Section: examples
Architecture: all
Depends: libqgcodeeditor-qt6,
         ${misc:Depends}
Description: Qt6 G-Code editor library - example applications
 libqgcodeeditor (also known as QGGCodeEditor) is a free C++ library based on Qt
 that enables the quick creation of G-Code editing apps. It features
 G-Code syntax highlighting. QGGCodeEditor is fully customizable and easy to
 extend to create complex applications, with a possible G-Code editing GUI.
 .
 This package contains example applications compiled against Qt6.

Package: libqgcodeeditor-qt5-designer
Architecture: any
Depends: ${misc:Depends},
        libqt5designer5,
        libqgcodeeditor-qt5
Description: Qt5 Designer plugin for QGCodeEditor widget
 A widget for displaying and interacting with G-Code in Qt Designer.
 This package contains the Qt Designer plugin for the QGCodeEditor widget
 for use with Qt5.

Package: libqgcodeeditor-qt6-designer
Architecture: any
Depends: ${misc:Depends},
        libqt6designer6,
        libqgcodeeditor-qt6
Description: Qt6 Designer plugin for QGCodeEditor widget
 A widget for displaying and interacting with G-Code in Qt Designer.
 This package contains the Qt Designer plugin for the QGCodeEditor widget
 for use with Qt6.

Package: libqgcodeeditor-doc
Section: doc
Architecture: all
Multi-Arch: foreign
Depends: libjs-jquery,
         ${misc:Depends}
X-Doc-Main-Package: libqgcodeeditor-qt6
Description: G-Code text editor library based on Qt6 - documentation
 libqgcodeeditor (also known as QGGCodeEditor) is a free C++ library based on Qt
 that enables the quick creation of G-Code editing apps. It features
 G-Code syntax highlighting. QGGCodeEditor is fully customizable and easy to
 extend to create complex applications, with a possible G-Code editing GUI.
 .
 This package contains documentation and examples.

