#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
#export DPKG_GENSYMBOLS_CHECK_LEVEL=0

include /usr/share/dpkg/default.mk

BUILDDIR_QT5 = build-qt5
BUILDDIR_QT6 = build-qt6

CMAKEFLAGS = -DCMAKE_BUILD_TYPE=Release \
	-DCMAKE_INSTALL_PREFIX=/usr \
	-DCMAKE_INSTALL_LIBDIR=lib/$(DEB_HOST_MULTIARCH) \
	-DCMAKE_CXX_FLAGS="$(CXXFLAGS) $(CPPFLAGS)" \
	-DCMAKE_EXE_LINKER_FLAGS="$(LDFLAGS)" \
	-DCMAKE_SHARED_LINKER_FLAGS="$(LDFLAGS)" \
	-DCMAKE_SKIP_RPATH=TRUE \
	-DBUILD_EXAMPLES=ON \
	-DBUILD_DESIGNER_PLUGIN=ON

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure --builddirectory=$(BUILDDIR_QT5) -- $(CMAKEFLAGS) \
		-DQT_VERSION_MAJOR=5 \
		-DQGCODEEDITOR_INSTALL_INCLUDEDIR=include/$(DEB_HOST_MULTIARCH)/qt5/QGCodeEditor
	dh_auto_configure --builddirectory=$(BUILDDIR_QT6) -- $(CMAKEFLAGS) \
		-DQT_VERSION_MAJOR=6 \
		-DQGCODEEDITOR_INSTALL_INCLUDEDIR=include/$(DEB_HOST_MULTIARCH)/qt6/QGCodeEditor

override_dh_auto_build:
	dh_auto_build --builddirectory=$(BUILDDIR_QT5)
	dh_auto_build --builddirectory=$(BUILDDIR_QT6)

execute_after_dh_auto_build-indep:
	cd doc && doxygen qgcodeeditor.dxy

override_dh_auto_install:
	$(MAKE) -C $(BUILDDIR_QT5) install DESTDIR=$(CURDIR)/debian/tmp
	$(MAKE) -C $(BUILDDIR_QT6) install DESTDIR=$(CURDIR)/debian/tmp
	install -m0755 -d debian/libqgcodeeditor-qt5/usr/lib/$(DEB_HOST_MULTIARCH)
	cp -a debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/libqgcodeeditor_qt5.so.* debian/libqgcodeeditor-qt5/usr/lib/$(DEB_HOST_MULTIARCH)/
	install -m0755 -d debian/libqgcodeeditor-qt6/usr/lib/$(DEB_HOST_MULTIARCH)
	cp -a debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/libqgcodeeditor_qt6.so.* debian/libqgcodeeditor-qt6/usr/lib/$(DEB_HOST_MULTIARCH)/
	install -m0755 -d debian/libqgcodeeditor-qt5-dev/usr/lib/$(DEB_HOST_MULTIARCH)
	cp -a debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/libqgcodeeditor_qt5.so debian/libqgcodeeditor-qt5-dev/usr/lib/$(DEB_HOST_MULTIARCH)/
	install -m0755 -d debian/libqgcodeeditor-qt6-dev/usr/lib/$(DEB_HOST_MULTIARCH)
	cp -a debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/libqgcodeeditor_qt6.so debian/libqgcodeeditor-qt6-dev/usr/lib/$(DEB_HOST_MULTIARCH)/
	install -m0755 -d debian/libqgcodeeditor-qt5-dev/usr/include/$(DEB_HOST_MULTIARCH)/qt5/QGCodeEditor
	cp -a debian/tmp/usr/include/$(DEB_HOST_MULTIARCH)/qt5/QGCodeEditor/* debian/libqgcodeeditor-qt5-dev/usr/include/$(DEB_HOST_MULTIARCH)/qt5/QGCodeEditor/
	install -m0755 -d debian/libqgcodeeditor-qt6-dev/usr/include/$(DEB_HOST_MULTIARCH)/qt6/QGCodeEditor
	cp -a debian/tmp/usr/include/$(DEB_HOST_MULTIARCH)/qt6/QGCodeEditor/* debian/libqgcodeeditor-qt6-dev/usr/include/$(DEB_HOST_MULTIARCH)/qt6/QGCodeEditor/
	install -m0755 -d debian/libqgcodeeditor-qt5-examples/usr/lib/$(DEB_HOST_MULTIARCH)/qgcodeeditor-examples/qt5
	cp -a $(BUILDDIR_QT5)/simple debian/libqgcodeeditor-qt5-examples/usr/lib/$(DEB_HOST_MULTIARCH)/qgcodeeditor-examples/qt5/
	cp -a $(BUILDDIR_QT5)/pipe debian/libqgcodeeditor-qt5-examples/usr/lib/$(DEB_HOST_MULTIARCH)/qgcodeeditor-examples/qt5/
	cp -a $(BUILDDIR_QT5)/contextMenu debian/libqgcodeeditor-qt5-examples/usr/lib/$(DEB_HOST_MULTIARCH)/qgcodeeditor-examples/qt5/
	install -m0755 -d debian/libqgcodeeditor-qt6-examples/usr/lib/$(DEB_HOST_MULTIARCH)/qgcodeeditor-examples/qt6
	cp -a $(BUILDDIR_QT6)/simple debian/libqgcodeeditor-qt6-examples/usr/lib/$(DEB_HOST_MULTIARCH)/qgcodeeditor-examples/qt6/
	cp -a $(BUILDDIR_QT6)/pipe debian/libqgcodeeditor-qt6-examples/usr/lib/$(DEB_HOST_MULTIARCH)/qgcodeeditor-examples/qt6/
	cp -a $(BUILDDIR_QT6)/contextMenu debian/libqgcodeeditor-qt6-examples/usr/lib/$(DEB_HOST_MULTIARCH)/qgcodeeditor-examples/qt6/
	install -m0755 -d debian/libqgcodeeditor-qt5-designer/usr/lib/$(DEB_HOST_MULTIARCH)/qt5/plugins/designer
	cp -a debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/qt5/plugins/designer/libqgcodeeditorplugin.so debian/libqgcodeeditor-qt5-designer/usr/lib/$(DEB_HOST_MULTIARCH)/qt5/plugins/designer/
	install -m0755 -d debian/libqgcodeeditor-qt6-designer/usr/lib/$(DEB_HOST_MULTIARCH)/qt6/plugins/designer
	cp -a debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/qt6/plugins/designer/libqgcodeeditorplugin.so debian/libqgcodeeditor-qt6-designer/usr/lib/$(DEB_HOST_MULTIARCH)/qt6/plugins/designer/

override_dh_makeshlibs:
	dh_makeshlibs --add-udeb shlibs:Depends
	echo "shlibs:Depends=" > debian/libqgcodeeditor-qt5-designer.substvars
	echo "shlibs:Depends=" > debian/libqgcodeeditor-qt6-designer.substvars

override_dh_installdeb:
	dh_installdeb

override_dh_strip:
	dh_strip --remaining-packages

override_dh_auto_clean:
	:

override_dh_clean:
	rm -rf $(BUILDDIR_QT5) $(BUILDDIR_QT6)
	dh_clean
