#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
#export DPKG_GENSYMBOLS_CHECK_LEVEL=0

include /usr/share/dpkg/default.mk

QMAKE_FLAGS = QMAKE_CXXFLAGS+="$(CXXFLAGS) $(CPPFLAGS)" QMAKE_LFLAGS+="$(LDFLAGS)" QMAKE_STRIP=

# Update this on SO name bumps so files get shoved around correctly
SONAME=15

%:
	dh $@

# Use dh_clean but preserve the build directories
override_dh_clean:
	dh_clean
	rm -f configure-stamp build-library-stamp

configure-stamp:
	dh_testdir
	mkdir -p QGcodeQt5
	cp -r src/* QGcodeQt5
	cd QGcodeQt5 && /usr/bin/qmake -qt=5 PREFIX=/usr INCLUDE_DIR=/usr/include/$${DEB_HOST_MULTIARCH}/qt5 LIB_DIR=/usr/lib/$${DEB_HOST_MULTIARCH}/qt5 DESTDIR=$$PWD $(QMAKE_FLAGS)
	mkdir -p QGcodeQt6
	cp -r src/* QGcodeQt6
	cd QGcodeQt6 && /usr/bin/qmake6 QT_QMAKE_VERSION=6 PREFIX=/usr INCLUDE_DIR=/usr/include/$${DEB_HOST_MULTIARCH}/qt6 LIB_DIR=/usr/lib/$${DEB_HOST_MULTIARCH}/qt6 DESTDIR=$$PWD $(QMAKE_FLAGS)
	rm -f QGcodeQt6/libqgcodeeditor_qt5.so* QGcodeQt6/libQGCodeEditor.prf QGcodeQt6/libQGCodeEditor.prl
	touch $@

override_dh_auto_configure: configure-stamp

build-library-stamp: configure-stamp
	dh_testdir
	cd QGcodeQt5 && $(MAKE)
	@echo "Built Qt5"
	cd QGcodeQt6 && $(MAKE)
	@echo "Built Qt6"
	touch $@

override_dh_auto_build: build-library-stamp

execute_after_dh_auto_build-indep:
	cd doc && doxygen qgcodeeditor.dxy

override_dh_auto_install:
	$(MAKE) -C QGcodeQt5 install INSTALL_ROOT=$(CURDIR)/debian/tmp
	$(MAKE) -C QGcodeQt6 install INSTALL_ROOT=$(CURDIR)/debian/tmp
	install -m0755 -d debian/libqgcodeeditor-qt5/usr/lib/$${DEB_HOST_MULTIARCH}/qt5
	cp -a debian/tmp/usr/lib/$${DEB_HOST_MULTIARCH}/qt5/libqgcodeeditor_qt5.so* debian/libqgcodeeditor-qt5/usr/lib/$${DEB_HOST_MULTIARCH}/qt5/
	install -m0755 -d debian/libqgcodeeditor-qt6/usr/lib/$${DEB_HOST_MULTIARCH}/qt6
	cp -a debian/tmp/usr/lib/$${DEB_HOST_MULTIARCH}/qt6/libqgcodeeditor_qt6.so* debian/libqgcodeeditor-qt6/usr/lib/$${DEB_HOST_MULTIARCH}/qt6/
	install -m0755 -d debian/libqgcodeeditor-qt5-dev/usr/lib/$${DEB_HOST_MULTIARCH}/qt5
	install -m0755 -d debian/libqgcodeeditor-qt5-dev/usr/include/$${DEB_HOST_MULTIARCH}/qt5/QGCodeEditor
	cp -a debian/tmp/usr/include/$${DEB_HOST_MULTIARCH}/qt5/QGCodeEditor/* debian/libqgcodeeditor-qt5-dev/usr/include/$${DEB_HOST_MULTIARCH}/qt5/QGCodeEditor/
	install -m0755 -d debian/libqgcodeeditor-qt6-dev/usr/lib/$${DEB_HOST_MULTIARCH}/qt6
	install -m0755 -d debian/libqgcodeeditor-qt6-dev/usr/include/$${DEB_HOST_MULTIARCH}/qt6/QGCodeEditor
	cp -a debian/tmp/usr/include/$${DEB_HOST_MULTIARCH}/qt6/QGCodeEditor/* debian/libqgcodeeditor-qt6-dev/usr/include/$${DEB_HOST_MULTIARCH}/qt6/QGCodeEditor/

execute_after_dh_installdocs-indep:

override_dh_makeshlibs:
	dh_makeshlibs --add-udeb shlibs:Depends -V

override_dh_strip:
	dh_strip --remaining-packages
